<header class="header-background">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-h1">Lostark Calculator</h1>
      <h2 class="mat-h2">로스트아크 최적화 계산기</h2>
    </div>
  </div>
</header>
<main class="home-main">
  <div class="row">
    <div class="row-header">
      <h2>주요 기능</h2>
    </div>
    <div class="feature-list">
      <a routerLink="refining" class="feature-item">
        <mat-card>
          <mat-card-title> 재련 최적화 </mat-card-title>
          <div class="card-divider"></div>
          <mat-card-content class="card-summary">
            재련 재료 가격을 바탕으로 최적의 재련 방식을 추천합니다.
          </mat-card-content>
        </mat-card>
      </a>
      <a routerLink="imprinting" class="feature-item">
        <mat-card>
          <mat-card-title> 각인 최적화 </mat-card-title>
          <div class="card-divider"></div>
          <mat-card-content class="card-summary">
            각인을 맞추는데 필요한 장신구들을 경매장에서 가장 저렴하게
            찾아줍니다.
          </mat-card-content>
        </mat-card>
      </a>
      <a routerLink="tripod" class="feature-item">
        <mat-card>
          <mat-card-title> 트포 도시락 </mat-card-title>
          <div class="card-divider"></div>
          <mat-card-content class="card-summary">
            트라이포드 도시락들을 경매장에서 가장 저렴하게 찾아줍니다.
          </mat-card-content>
        </mat-card>
      </a>
      <a routerLink="stone" class="feature-item">
        <mat-card>
          <mat-card-title> 어빌리티 스톤 세공 </mat-card-title>
          <div class="card-divider"></div>
          <mat-card-content class="card-summary">
            어빌리티 스톤이 목표한 세공 수치에 도달하도록 최적의 선택을
            추천합니다.
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="row-header">
      <h2>커뮤니티</h2>
    </div>
    <div class="feature-list">
      <a
        target="_blank"
        href="https://discord.gg/uCCp75c2aM"
        class="feature-item"
      >
        <mat-card>
          <mat-card-title> 디스코드 </mat-card-title>
          <div class="card-divider"></div>
          <mat-card-content class="card-summary">
            오류 문의 및 업데이트 알림 창구
          </mat-card-content>
        </mat-card>
      </a>
      <a target="_blank" href="https://icepeng.com/" class="feature-item">
        <mat-card>
          <mat-card-title> 블로그 </mat-card-title>
          <div class="card-divider"></div>
          <mat-card-content class="card-summary">
            사용 설명서 및 업데이트 공지
          </mat-card-content>
        </mat-card>
      </a>
      <a
        target="_blank"
        href="https://github.com/icepeng/loa-calc"
        class="feature-item"
      >
        <mat-card>
          <mat-card-title> GitHub </mat-card-title>
          <div class="card-divider"></div>
          <mat-card-content class="card-summary">
            LoaCalc 오픈소스
          </mat-card-content>
        </mat-card>
      </a>
      <a routerLink="donate" class="feature-item">
        <mat-card>
          <mat-card-title> 후원하기 </mat-card-title>
          <div class="card-divider"></div>
          <mat-card-content class="card-summary">
            LoaCalc를 후원해주세요
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
</main>
<ng-adsense
  [className]="'banner-slot'"
  [adSlot]="5161029086"
  [fullWidthResponsive]="true"
  [adFormat]="'horizontal'"
></ng-adsense>
