<div class="row">
  <button (click)="copySetting.emit(setting)" mat-flat-button color="primary">
    새 탭으로 복사
  </button>
  <button (click)="removeSetting.emit()" mat-flat-button color="warn">
    삭제
  </button>
</div>
<h2 class="mat-h2">스펙 설정</h2>
<div>
  <mat-form-field>
    <mat-label>직업명</mat-label>
    <mat-select [formControl]="jobNameControl">
      <mat-option *ngFor="let job of jobList" [value]="job.name">{{
        job.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <button
    *ngIf="editTarget === 'jobName'"
    (click)="saveJobName(jobNameControl.value)"
    mat-flat-button
    color="primary"
  >
    확인
  </button>
</div>
<div class="row">
  <mat-card>
    <mat-card-subtitle>기본 설정</mat-card-subtitle>
    <app-common-form></app-common-form>
  </mat-card>
  <mat-card>
    <mat-card-subtitle>장비 설정</mat-card-subtitle>
    <app-gear-form></app-gear-form>
  </mat-card>
  <mat-card>
    <mat-card-subtitle>장신구 등급 설정</mat-card-subtitle>
    <app-accessory-form></app-accessory-form>
  </mat-card>
  <mat-card>
    <mat-card-subtitle>아바타 등급 설정</mat-card-subtitle>
    <app-avatar-form></app-avatar-form>
  </mat-card>
  <mat-card>
    <mat-card-subtitle>카드 설정</mat-card-subtitle>
    <app-card-form></app-card-form>
  </mat-card>
  <mat-card>
    <mat-card-subtitle>각인 설정</mat-card-subtitle>
    <app-engraving-form></app-engraving-form>
  </mat-card>
  <mat-card>
    <mat-card-subtitle>세트 아이템 설정</mat-card-subtitle>
    <app-setitem-form></app-setitem-form>
  </mat-card>
</div>
<div class="row">
  <app-skill-form-list [skillSpecs]="skillSpecs"></app-skill-form-list>
</div>
<div class="row">
  <button
    mat-flat-button
    color="primary"
    *ngIf="editTarget === 'character'"
    (click)="saveCharacter()"
  >
    적용
  </button>
  <button
    mat-flat-button
    color="primary"
    *ngIf="editTarget === 'skillActions'"
    (click)="editCharacter()"
  >
    수정
  </button>
</div>
<h2 class="mat-h2">스킬 시전 설정</h2>
<app-skill-action-form-list
  [basisStat]="basisStat"
  [internalStat]="internalStat"
  [skills]="skills"
  [buffs]="buffs"
  (valueChanges)="saveSkillActions($event)"
></app-skill-action-form-list>
