<div class="container">
  <h1 class="mat-h1">스펙 시뮬레이터 (베타)</h1>
  <div class="row">
    <button mat-flat-button color="primary" (click)="addSetting()">
      탭 추가
    </button>
    <button (click)="saveSettings()" mat-stroked-button color="primary">
      파일로 저장
    </button>
    <input
      #load
      class="visually-hidden"
      (change)="loadSettings($event)"
      type="file"
    />
    <button (click)="load.click()" mat-stroked-button color="primary">
      파일에서 불러오기
    </button>
  </div>
  <mat-tab-group>
    <mat-tab
      *ngFor="let setting of settings; index as i"
      [label]="(i + 1).toString()"
    >
      <app-dps-setting
        (copySetting)="copySetting($event)"
        (removeSetting)="removeSetting(i)"
        [setting]="setting"
      ></app-dps-setting>
    </mat-tab>
  </mat-tab-group>
</div>
