<div class="container">
  <div class="flex-baseline">
    <h1 class="mat-h1">재련 최적화</h1>
    <div class="filler"></div>
    <button (click)="openSearchDialog()" mat-stroked-button>
      거래소 가격 검색
    </button>
  </div>
  <div class="layout">
    <mat-tab-group class="mat-elevation-z1 tab-group-card">
      <mat-tab label="가격 정보">
        <div class="p-16">
          <app-refining-price [priceForm]="priceForm"></app-refining-price>
        </div>
      </mat-tab>
      <mat-tab label="귀속 재료 정보">
        <div class="p-16">
          <app-refining-binded [bindedForm]="bindedForm"></app-refining-binded>
        </div>
      </mat-tab>
    </mat-tab-group>
    <mat-card>
      <mat-card-subtitle> 장비 정보 </mat-card-subtitle>
      <mat-card-content>
        <app-refining-item [itemForm]="itemForm"></app-refining-item>
      </mat-card-content>
    </mat-card>
    <mat-card class="notice" *ngIf="materials.length === 0">
      <mat-card-title> 주의사항 </mat-card-title>
      <mat-card-content>
        <h3>가격 정보는 자동으로 갱신되지 않습니다.</h3>
        <p>
          며칠 전 시세 정보를 기준으로 임시로 넣어둔 값이며, 변동된 시세에 따른
          가격은 상단 우측 "거래소 가격 검색" 기능을 사용하시거나 직접 계산해서
          기입하시는 것이 정확합니다. 모든 재료의 가격은 1개당 골드로 입력되니,
          수호석 결정과 같이 10개 단위로 거래되는 재료들의 수치 입력에
          주의해주세요.
        </p>
        <h3>숨결은 0개 혹은 최대치로만 투입합니다.</h3>
        <p>
          숨결을 일부만 투입하는 경우까지 고려하면 연산량이 지나치게 많아집니다.
          걸립니다. 따라서 각 재료별로 0개 혹은 최대치 투입 2가지 경우의 수만
          고려하고 있습니다. 이로 인해 귀속 숨결을 0골드로 계산할 시 약간의
          오차가 발생할 수 있습니다.
        </p>
        <h3>22단계 이상의 재련에서 렉이 걸릴 수 있습니다.</h3>
        <p>
          재련 확률이 낮은 경우에는 트라이 횟수가 많아지는 만큼 경우의 수가 크게
          늘어나 렉을 유발할 수 있습니다. "귀속 재료를 0골드로 계산" 옵션을
          활성화할 시 귀속 재료의 양에 따라 최대 10배까지 느려질 수 있습니다.
        </p>
        <h3>평균 비용을 줄이는 재료 투입을 제시할 뿐입니다.</h3>
        <p>
          운이 좋고 나쁜것은 어쩔 수 없습니다. 장기백을 봤다고 절 욕하시면
          곤란합니다.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="materials.length > 0" class="materials">
      <mat-card-subtitle>필수 재료</mat-card-subtitle>
      <mat-card-content>
        <div class="material-info" *ngFor="let material of materials">
          <img [attr.src]="'assets/' + material.name + '.png'" />
          <span>
            x {{ material.amount | number: ".0-0" }} =
            {{ material.price | number: ".2-2" }}골드</span
          >
        </div>
        <div>합계 : {{ materialPrice | number: ".2-2" }}골드</div>
        <mat-checkbox [(ngModel)]="reduceBindedMaterials"
          >귀속 필수 재료를 0골드로 계산</mat-checkbox
        >
      </mat-card-content>
      <mat-card-subtitle>추가 재료</mat-card-subtitle>
      <mat-card-content>
        <div class="material-info" *ngFor="let breath of breathes">
          <img [attr.src]="'assets/' + breath.name + '.png'" />
          <span>
            + {{ breath.prob | percent: ".2-2" }} x 0 ~
            {{ breath.amount | number: ".0-0" }}<br />개당
            {{ breath.price | number: ".2-2" }}골드</span
          >
        </div>
        <div>
          <mat-checkbox [(ngModel)]="reduceBindedBooks"
            >귀속 책을 0골드로 계산</mat-checkbox
          >
        </div>
        <div>
          <mat-checkbox [(ngModel)]="reduceBindedBreathes"
            >귀속 숨결을 0골드로 계산</mat-checkbox
          >
        </div>
        <div>
          <button (click)="calculate()" mat-raised-button color="primary">
            계산
          </button>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-tab-group
      animationDuration="0ms"
      class="mat-elevation-z1 tab-group-card refine-table"
    >
      <mat-tab label="최적 재련">
        <div class="p-16">
          <app-refine-table
            [price]="optimalPrice"
            [path]="optimalPath"
            [materials]="materials"
          ></app-refine-table>
        </div>
      </mat-tab>
      <mat-tab label="노숨 재련">
        <div class="p-16">
          <app-refine-table
            [price]="noBreathPrice"
            [path]="noBreathPath"
            [materials]="materials"
          ></app-refine-table>
        </div>
      </mat-tab>
      <mat-tab label="풀숨 재련">
        <div class="p-16">
          <app-refine-table
            [price]="fullBreathPrice"
            [path]="fullBreathPath"
            [materials]="materials"
          ></app-refine-table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<ng-adsense
  [className]="'banner-slot'"
  [adSlot]="3498062236"
  [fullWidthResponsive]="true"
  [adFormat]="'horizontal'"
></ng-adsense>
