<form [formGroup]="bindedForm" class="price-form">
  <div class="cell">
    <img src="assets/파편.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 명예의 파편 </mat-label>
      <input type="number" matInput formControlName="파편" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/하급오레하.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 하급 오레하 융화제 </mat-label>
      <input type="number" matInput formControlName="하급오레하" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/중급오레하.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 중급 오레하 융화제 </mat-label>
      <input type="number" matInput formControlName="중급오레하" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/상급오레하.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 상급 오레하 융화제 </mat-label>
      <input type="number" matInput formControlName="상급오레하" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/명돌.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 명예의 돌파석 </mat-label>
      <input type="number" matInput formControlName="명돌" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/위명돌.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 위대한 명예의 돌파석 </mat-label>
      <input type="number" matInput formControlName="위명돌" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/경명돌.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 경이로운 명예의 돌파석 </mat-label>
      <input type="number" matInput formControlName="경명돌" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/수결.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 수호석 결정 </mat-label>
      <input type="number" matInput formControlName="수결" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/파결.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 파괴석 결정 </mat-label>
      <input type="number" matInput formControlName="파결" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/수호강석.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 수호강석 </mat-label>
      <input type="number" matInput formControlName="수호강석" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/파괴강석.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 파괴강석 </mat-label>
      <input type="number" matInput formControlName="파괴강석" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/은총.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 태양의 은총 </mat-label>
      <input type="number" matInput formControlName="은총" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/축복.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 태양의 축복 </mat-label>
      <input type="number" matInput formControlName="축복" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/가호.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 태양의 가호 </mat-label>
      <input type="number" matInput formControlName="가호" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/재봉술기본.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 재봉술 : 수선 기본 </mat-label>
      <input type="number" matInput formControlName="재봉술기본" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/재봉술응용.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 재봉술 : 수선 응용 </mat-label>
      <input type="number" matInput formControlName="재봉술응용" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/재봉술심화.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 재봉술 : 수선 심화 </mat-label>
      <input type="number" matInput formControlName="재봉술심화" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/야금술기본.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 야금술 : 단조 기본 </mat-label>
      <input type="number" matInput formControlName="야금술기본" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/야금술응용.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 야금술 : 단조 응용 </mat-label>
      <input type="number" matInput formControlName="야금술응용" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/야금술심화.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 야금술 : 단조 심화 </mat-label>
      <input type="number" matInput formControlName="야금술심화" />
    </mat-form-field>
  </div>
</form>
