.container {
  margin: 20px;
}

.layout {
  display: flex;
  gap: 12px;
}

.cell {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.price-form {
  font-size: 16px;
}

.grow {
  flex-grow: 1;
}

.p-16 {
  padding: 16px;
}

.materials {
  min-width: 240px;
}

.material-info {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.mat-tab-group {
  background: #fff;
}