<form [formGroup]="priceForm" class="price-form">
  <div class="cell">
    <img src="assets/파편.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 명예의 파편 </mat-label>
      <input type="number" matInput formControlName="파편" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/운명파편.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 운명의 파편 </mat-label>
      <input type="number" matInput formControlName="운명파편" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/최상급오레하.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 최상급 오레하 융화제 </mat-label>
      <input type="number" matInput formControlName="최상급오레하" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/아비도스.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 아비도스 융화 재료 </mat-label>
      <input type="number" matInput formControlName="아비도스" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/찬명돌.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 찬란한 명예의 돌파석 </mat-label>
      <input type="number" matInput formControlName="찬명돌" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/운돌.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 운명의 돌파석 </mat-label>
      <input type="number" matInput formControlName="운돌" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/정제된수호강석.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 정제된 수호강석 </mat-label>
      <input type="number" matInput formControlName="정제된수호강석" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/운명의수호석.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 운명의 수호석 </mat-label>
      <input type="number" matInput formControlName="운명의수호석" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/정제된파괴강석.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 정제된 파괴강석 </mat-label>
      <input type="number" matInput formControlName="정제된파괴강석" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/운명의파괴석.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 운명의 파괴석 </mat-label>
      <input type="number" matInput formControlName="운명의파괴석" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/은총.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 태양의 은총 </mat-label>
      <input type="number" matInput formControlName="은총" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/축복.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 태양의 축복 </mat-label>
      <input type="number" matInput formControlName="축복" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/가호.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 태양의 가호 </mat-label>
      <input type="number" matInput formControlName="가호" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/빙하.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 빙하의 숨결 </mat-label>
      <input type="number" matInput formControlName="빙하" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/용암.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 용암의 숨결 </mat-label>
      <input type="number" matInput formControlName="용암" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/장인의재봉술1단계.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 장인의 재봉술 1단계 </mat-label>
      <input type="number" matInput formControlName="장인의재봉술1단계" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/장인의재봉술2단계.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 장인의 재봉술 2단계 </mat-label>
      <input type="number" matInput formControlName="장인의재봉술2단계" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/장인의재봉술3단계.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 장인의 재봉술 3단계 </mat-label>
      <input type="number" matInput formControlName="장인의재봉술3단계" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/장인의재봉술4단계.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 장인의 재봉술 4단계 </mat-label>
      <input type="number" matInput formControlName="장인의재봉술4단계" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/장인의야금술1단계.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 장인의 야금술 1단계 </mat-label>
      <input type="number" matInput formControlName="장인의야금술1단계" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/장인의야금술2단계.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 장인의 야금술 2단계 </mat-label>
      <input type="number" matInput formControlName="장인의야금술2단계" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/장인의야금술3단계.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 장인의 야금술 3단계 </mat-label>
      <input type="number" matInput formControlName="장인의야금술3단계" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/장인의야금술4단계.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 장인의 야금술 4단계 </mat-label>
      <input type="number" matInput formControlName="장인의야금술4단계" />
    </mat-form-field>
  </div>
</form>