<div class="container">
  <div class="flex-center">
    <h1 class="mat-h1">상급 재련 최적화</h1>
  </div>
  <div class="layout">
    <mat-tab-group class="mat-elevation-z1 tab-group-card">
      <mat-tab label="가격 정보">
        <div class="p-16">
          <app-advanced-refining-price [priceForm]="priceForm"></app-advanced-refining-price>
        </div>
      </mat-tab>
    </mat-tab-group>
    <mat-card>
      <mat-card-subtitle>장비 정보</mat-card-subtitle>
      <mat-card-content>
        <app-advanced-refining-item [itemForm]="itemForm"></app-advanced-refining-item>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="materials.length > 0" class="materials">
      <form [formGroup]="bindedForm">
        <mat-card-subtitle>필수 재료</mat-card-subtitle>
        <mat-card-content>
          <div class="py-4" *ngFor="let material of materials; trackBy: trackByMaterial">
            <mat-checkbox formControlName="{{ material.name }}">
              <div class="material-info">
                <img [attr.src]="'assets/' + material.name + '.png'" />
                <span>
                  x {{ material.amount | number : ".0-0" }} =
                  {{ material.price | number : ".2-2" }}골드</span>
              </div>
            </mat-checkbox>
          </div>
          <div>합계 : {{ materialPrice | number : ".2-2" }}골드</div>
        </mat-card-content>
        <mat-card-subtitle>추가 재료</mat-card-subtitle>
        <mat-card-content>
          <div class="py-4" *ngFor="let breath of breathes; trackBy: trackByMaterial">
            <mat-checkbox formControlName="{{ breath.name }}">
              <div class="material-info">
                <img [attr.src]="'assets/' + breath.name + '.png'" />
                <span>
                  x{{ breath.amount | number : ".0-0" }} =
                  {{ breath.price * breath.amount | number : ".2-2" }}골드</span>
              </div>
            </mat-checkbox>
          </div>
          <div>
            <button (click)="calculate()" mat-raised-button color="primary">
              계산
            </button>
          </div>
          <div>체크 해제 시 0골드로 계산됩니다.</div>
        </mat-card-content>
      </form>
    </mat-card>
    <mat-tab-group animationDuration="0ms" class="mat-elevation-z1 tab-group-card refine-table">
      <mat-tab label="계산 결과">
        <div class="p-16">
          <div *ngIf="!!reports[0]">
            <h2 class="mat-h2">최적 숨결</h2>
            <div>
              평균 트라이 횟수 :
              {{ reports[0].expectedTryCount | number : ".1-1" }}회
            </div>
            <div>
              평균 비용 :
              {{ reports[0].expectedPrice | number : ".0-0" }}골드
            </div>
            <div class="flex">
              <div class="result-material-info" *ngFor="
                  let material of reports[0].expectedMaterials;
                  trackBy: trackByMaterial
                ">
                <img [attr.src]="'assets/' + material.name + '.png'" />
                <span> x {{ material.amount | number : ".0-0" }}</span>
              </div>
            </div>
          </div>
          <table class="optimize-table" mat-table [dataSource]="reports" [trackBy]="trackByIndex">
            <ng-container matColumnDef="normalBreathNames">
              <th mat-header-cell *matHeaderCellDef>일반턴 숨결</th>
              <td mat-cell *matCellDef="let element" class="w-120">
                <div style="line-height: 0">
                  <img class="w-32" *ngFor="
                      let breath of element.normalBreathNames;
                      trackByMaterial
                    " [attr.src]="'assets/' + breath + '.png'" />
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="bonusBreathNames">
              <th mat-header-cell *matHeaderCellDef>선조턴 숨결</th>
              <td mat-cell *matCellDef="let element" class="w-120">
                <div style="line-height: 0">
                  <img class="w-32" *ngFor="
                      let breath of element.bonusBreathNames;
                      trackByMaterial
                    " [attr.src]="'assets/' + breath + '.png'" />
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="enhancedBonusBreathNames">
              <th mat-header-cell *matHeaderCellDef>강화선조턴 숨결</th>
              <td mat-cell *matCellDef="let element" class="w-120">
                <div style="line-height: 0">
                  <img class="w-32" *ngFor="
                      let breath of element.enhancedBonusBreathNames;
                      trackByMaterial
                    " [attr.src]="'assets/' + breath + '.png'" />
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="paidNormalPrice">
              <th mat-header-cell *matHeaderCellDef>일반턴 비용</th>
              <td mat-cell *matCellDef="let element">
                {{ element.paidNormalPrice | number : ".0-0" }}골드
              </td>
            </ng-container>

            <ng-container matColumnDef="freeNormalPrice">
              <th mat-header-cell *matHeaderCellDef>무료일반턴 비용</th>
              <td mat-cell *matCellDef="let element">
                {{ element.freeNormalPrice | number : ".0-0" }}골드
              </td>
            </ng-container>

            <ng-container matColumnDef="bonusPrice">
              <th mat-header-cell *matHeaderCellDef>선조턴 비용</th>
              <td mat-cell *matCellDef="let element">
                {{ element.bonusPrice | number : ".0-0" }}골드
              </td>
            </ng-container>

            <ng-container matColumnDef="enhancedBonusPrice">
              <th mat-header-cell *matHeaderCellDef>강화선조턴 비용</th>
              <td mat-cell *matCellDef="let element">
                {{ element.enhancedBonusPrice | number : ".0-0" }}골드
              </td>
            </ng-container>

            <ng-container matColumnDef="paidNormalTry">
              <th mat-header-cell *matHeaderCellDef>평균 일반트라이</th>
              <td mat-cell *matCellDef="let element">
                {{ element.paidNormalTry | number : ".1-1" }}회
              </td>
            </ng-container>

            <ng-container matColumnDef="freeNormalTry">
              <th mat-header-cell *matHeaderCellDef>평균 무료일반트라이</th>
              <td mat-cell *matCellDef="let element">
                {{ element.freeNormalTry | number : ".1-1" }}회
              </td>
            </ng-container>

            <ng-container matColumnDef="bonusTry">
              <th mat-header-cell *matHeaderCellDef>평균 선조트라이</th>
              <td mat-cell *matCellDef="let element">
                {{ element.bonusTry | number : ".1-1" }}회
              </td>
            </ng-container>

            <ng-container matColumnDef="enhancedBonusTry">
              <th mat-header-cell *matHeaderCellDef>평균 강화선조트라이</th>
              <td mat-cell *matCellDef="let element">
                {{ element.enhancedBonusTry | number : ".1-1" }}회
              </td>
            </ng-container>

            <ng-container matColumnDef="expectedTryCount">
              <th mat-header-cell *matHeaderCellDef>평균 트라이</th>
              <td mat-cell *matCellDef="let element">
                {{ element.expectedTryCount | number : ".1-1" }}회
              </td>
            </ng-container>

            <ng-container matColumnDef="expectedPrice">
              <th mat-header-cell *matHeaderCellDef>평균 비용</th>
              <td mat-cell *matCellDef="let element">
                {{ element.expectedPrice | number : ".0-0" }}골드
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="tableRows"></tr>
            <tr mat-row *matRowDef="
                let row;
                columns: tableRows
              "></tr>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<ng-adsense [className]="'banner-slot'" [adSlot]="3498062236" [fullWidthResponsive]="true"
  [adFormat]="'horizontal'"></ng-adsense>