<div class="container">
  <div class="layout">
    <h1 class="mat-h1" i18n>엘릭서 도우미 (베타)</h1>  <h2 i18n>합 8레벨 이상 목표.</h2>
  </div>
  <div>
    <div class="layout">
      <mat-card class="enchant-area">
        <mat-card-content>
          <div [class.recommend-reroll]="recommendRerollBaseline" i18n>
            가장 높은 조언점수가
            <span>{{ baselineScore * 10000 | number : ".2" }}</span> 이하일시
            리롤 추천
          </div>
          <div [class.recommend-reroll]="recommendRerollLawfulFullSeal" i18n>
            봉인 페이즈에서 질서3 조언이 기회 소모 없음이 아닐시 리롤 추천
          </div>
          <div [class.recommend-reroll]="recommendRerollLawfulSeal" i18n>
            봉인 페이즈에서 질서3을 향하는 조언이 목표 옵션을 봉인할 시 리롤
            추천
          </div>
          <div></div>
        </mat-card-content>
      </mat-card>
      <mat-card class="enchant-area">
        <mat-card-content>
          <div class="turn-center" i18n>
            남은 연성 회
          </div>
          <div class="turn-center">
            <button (click)="decreaseTurnLeft()" mat-icon-button>
              <mat-icon>remove</mat-icon>
            </button>
            <h1 class="m-0">{{ gameState.turnLeft }}</h1>
            <button (click)="increaseTurnLeft()" mat-icon-button>
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <button mat-flat-button color="warn" (click)="onResetClick()" i18n>
            초기화
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="layout">
      <mat-card *ngFor="let idx of [0, 1, 2]" class="sage">
        <mat-card-content>
          <app-elixir-sage
            [gameState]="gameState"
            [curveScores]="curveScores"
            [adviceScores]="adviceScores"
            [totalScores]="totalScores"
            [index]="idx"
            (changeCouncil)="setCouncil(idx, $event)"
            (changeTypePower)="setTypePower(idx, $event)"
            (setExhausted)="setSageExhausted(idx, $event)"
          ></app-elixir-sage>
        </mat-card-content>
      </mat-card>
      <div class="effect-list">
        <mat-card
          *ngFor="let effect of gameState.effects; index as i"
          [class.is-focused]="focusedIndices.includes(i)"
        >
          <mat-card-content>
            <app-elixir-effect
              [gameState]="gameState"
              [pickRatios]="pickRatios"
              [luckyRatios]="luckyRatios"
              [index]="i"
              [isFocused]="focusedIndices.includes(i)"
              (focusTarget)="onFocusTarget($event)"
              (increase)="increaseEffectValue($event)"
              (decrease)="decreaseEffectValue($event)"
              (setValue)="setEffectValue(i, $event)"
              (setSealed)="setEffectSealed(i, $event)"
            ></app-elixir-effect>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
