.layout {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

.container {
  margin: 20px;
  max-width: 1200px;
}

.sage {
  width: 240px;
  box-sizing: border-box;
}

.effect-list {
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.enchant-area {
  flex: 1 1 auto;
}

.is-focused {
  box-shadow: 0 0 0 2px #000;
}
