.layout {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

.container {
  margin: 20px;
  max-width: 1200px;
}

.sage {
  flex: 1 1 auto;
  cursor: pointer;
  box-sizing: border-box;
}

.penguin {
  display: flex;
  justify-content: center;

  img {
    width: 240px;
    height: auto;
  }
}

.effect-list {
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.effect {
  display: flex;

  gap: 12px;
  align-items: center;

  cursor: pointer;
}

.effect-prob {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
  border-radius: 100%;

  width: 48px;
  height: 48px;
}

.effect-info {
  display: flex;
  flex-direction: column;
}

.effect-name {
  font-weight: bold;
}

.effect-value {
  display: flex;
}

.effect-value-square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 24px;
  height: 24px;

  &.is-filled {
    background-color: black;
    color: white;
  }
}

.power-container {
  display: flex;
  gap: 4px;
}

.lawful-power {
  width: 24px;
  height: 24px;
  border: 1px solid black;
  border-radius: 100%;

  &.is-filled {
    background-color: #7ce9fe;
  }
}

.chaos-power {
  width: 24px;
  height: 24px;
  border: 1px solid black;
  border-radius: 100%;

  &.is-filled {
    background-color: #f8baeb;
  }
}

.enchant-area {
  flex: 1 1 auto;
  min-height: 120px;
}
