.layout {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

.container {
  margin: 20px;
  max-width: 1200px;
}

.sage {
  flex: 1 1 auto;
  cursor: pointer;
  box-sizing: border-box;
}

.penguin {
  display: flex;
  justify-content: center;

  img {
    width: 240px;
    height: auto;
  }
}

.effect-list {
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.power-container {
  display: flex;
  gap: 4px;
}

.lawful-power {
  width: 24px;
  height: 24px;
  border: 1px solid black;
  border-radius: 100%;

  &.is-filled {
    background-color: #14acff;
  }
}

.chaos-power {
  width: 24px;
  height: 24px;
  border: 1px solid black;
  border-radius: 100%;

  &.is-filled {
    background-color: #b25db0;
  }
}

.enchant-area {
  flex: 1 1 auto;
  min-height: 120px;
}
