<table class="mat-table mat-elevation-z1">
  <thead>
    <tr class="mat-header-row">
      <th class="mat-header-cell">부위</th>
      <th class="mat-header-cell">품질</th>
      <th class="mat-header-cell">전투특성1</th>
      <th class="mat-header-cell">전투특성2</th>
      <th class="mat-header-cell">아이템명</th>
      <th class="mat-header-cell">각인1</th>
      <th class="mat-header-cell">각인2</th>
      <th class="mat-header-cell">감소각인</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let accType of ['목걸이', '귀걸이1', '귀걸이2', '반지1', '반지2']"
      class="mat-row"
    >
      <td class="mat-cell">{{ accType }}</td>
      <td class="mat-cell">
        <mat-form-field class="w-48" floatLabel="never">
          <mat-label>수치</mat-label>
          <input
            [(ngModel)]="accMap[accType].quality"
            matInput
            type="number"
            appSelectOnFocus
          />
        </mat-form-field>
      </td>
      <td class="mat-cell">
        <mat-form-field class="w-48" floatLabel="never">
          <mat-label>선택</mat-label>
          <mat-select [(ngModel)]="accMap[accType].dealOption1[0]">
            <mat-option *ngFor="let option of dealOptions" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-48" floatLabel="never">
          <mat-label>수치</mat-label>
          <input
            [(ngModel)]="accMap[accType].dealOption1[1]"
            matInput
            type="number"
            appSelectOnFocus
          />
        </mat-form-field>
      </td>
      <td class="mat-cell">
        <ng-container *ngIf="accType === '목걸이'">
          <mat-form-field class="w-48" floatLabel="never">
            <mat-label>선택</mat-label>
            <mat-select [(ngModel)]="accMap[accType].dealOption2![0]">
              <mat-option *ngFor="let option of dealOptions" [value]="option">
                {{ option }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-48" floatLabel="never">
            <mat-label>수치</mat-label>
            <input
              [(ngModel)]="accMap[accType].dealOption2![1]"
              matInput
              type="number"
              appSelectOnFocus
            /> </mat-form-field
        ></ng-container>
      </td>
      <td class="mat-cell">
        <mat-form-field class="w-240" floatLabel="never">
          <mat-label>보유한 아이템 사용시 입력</mat-label>
          <input
            [(ngModel)]="accMap[accType].name"
            type="text"
            matInput
            appSelectOnFocus
            [matAutocomplete]="auto3"
          />
          <mat-autocomplete autoActiveFirstOption #auto3="matAutocomplete">
            <mat-option
              *ngFor="
                let option of filterItemName(
                  accMap[accType].name,
                  accMap[accType].category
                )
              "
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </td>
      <td class="mat-cell">
        <mat-form-field class="w-120" floatLabel="never">
          <mat-label>각인명</mat-label>
          <input
            type="text"
            matInput
            [(ngModel)]="accMap[accType].imprintOption1[0]"
            [matAutocomplete]="auto"
            appSelectOnFocus
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option
              *ngFor="
                let option of filterImprint(accMap[accType].imprintOption1[0])
              "
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="w-48" floatLabel="never">
          <mat-label>수치</mat-label>
          <input
            [(ngModel)]="accMap[accType].imprintOption1[1]"
            matInput
            type="number"
            appSelectOnFocus
          />
        </mat-form-field>
      </td>
      <td class="mat-cell">
        <mat-form-field class="w-120" floatLabel="never">
          <mat-label>각인명</mat-label>
          <input
            type="text"
            matInput
            [(ngModel)]="accMap[accType].imprintOption2[0]"
            [matAutocomplete]="auto2"
            appSelectOnFocus
          />
          <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
            <mat-option
              *ngFor="
                let option of filterImprint(accMap[accType].imprintOption2[0])
              "
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="w-48" floatLabel="never">
          <mat-label>수치</mat-label>
          <input
            [(ngModel)]="accMap[accType].imprintOption2[1]"
            matInput
            type="number"
            appSelectOnFocus
          />
        </mat-form-field>
      </td>
      <td class="mat-cell">
        <mat-form-field class="w-120" floatLabel="never">
          <mat-label>선택</mat-label>
          <mat-select [(ngModel)]="accMap[accType].imprintPenalty[0]">
            <mat-option [value]="''">없음</mat-option>
            <mat-option *ngFor="let option of penaltyOptions" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-48" floatLabel="never">
          <mat-label>수치</mat-label>
          <input
            [(ngModel)]="accMap[accType].imprintPenalty[1]"
            matInput
            type="number"
            appSelectOnFocus
          />
        </mat-form-field>
      </td>
    </tr>
  </tbody>
</table>
