.container {
  margin: 20px;
}

.layout {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 12px;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.script {
  height: 240px;
  border: 1px solid #ccc;
}

.grow {
  flex-grow: 1;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 12px;
}

.layout-card {
  max-width: 100%;
  box-sizing: border-box;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    align-items: stretch;
  }
}

.heading-button {
  margin-bottom: 16px;
}

.heading-container {
  display: flex;
  gap: 12px;
  align-items: center;
}
