<div class="container">
  <div class="heading">
    <div class="heading-container">
      <h1 class="mat-h1">각인 최적화</h1>
      <div class="heading-actions">
        <a
          href="https://icepeng.com/11"
          target="_blank"
          class="heading-button"
          mat-flat-button
          color="primary"
          >설명서</a
        >
        <button
          color="accent"
          class="heading-button"
          mat-flat-button
          [matMenuTriggerFor]="menu"
        >
          프리셋
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="launchPresetLoadDialog()" mat-menu-item>
            <mat-icon>file_open</mat-icon>
            <span>불러오기</span>
          </button>
          <button (click)="launchPresetSaveDialog()" mat-menu-item>
            <mat-icon>save</mat-icon>
            <span>저장하기</span>
          </button>
        </mat-menu>
        <button class="heading-button" (click)="reset()" mat-stroked-button>
          초기화
        </button>
      </div>
    </div>
    <div class="heading-container api-container">
      <mat-form-field class="grow">
        <mat-label>API 키</mat-label>
        <input matInput [formControl]="apiKeyControl" />
      </mat-form-field>
      <button
        class="heading-button"
        color="primary"
        *ngIf="!isApiMode"
        mat-flat-button
        (click)="setApiClient()"
      >
        API 모드 켜기
      </button>
      <button
        class="heading-button"
        color="primary"
        *ngIf="isApiMode"
        mat-flat-button
        (click)="removeApiClient()"
      >
        API 모드 끄기
      </button>
    </div>
  </div>
  <div class="layout">
    <app-imprinting-form
      [target]="target"
      [stoneBooks]="stoneBooks"
    ></app-imprinting-form>
  </div>
  <div class="layout">
    <app-acc-form class="mat-elevation-z1" [accMap]="accMap"></app-acc-form>
  </div>
  <div class="layout">
    <mat-card class="layout-card">
      <mat-card-subtitle>경매장 검색</mat-card-subtitle>
      <mat-card-content>
        <mat-radio-group [(ngModel)]="searchGrade">
          <mat-radio-button value="유물">유물</mat-radio-button>
          <mat-radio-button value="고대">고대</mat-radio-button>
          <mat-radio-button value="전체">전체</mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
      <mat-card-content>
        <button
          *ngIf="!isApiMode"
          (click)="generate()"
          mat-raised-button
          color="primary"
        >
          검색 코드 복사
        </button>
        <button
          *ngIf="isApiMode"
          (click)="generate()"
          mat-raised-button
          color="primary"
        >
          검색 시작
          <ng-container *ngIf="searchProgress.total > 0"
            >{{ searchProgress.finished }} /
            {{ searchProgress.total }}</ng-container
          >
        </button>
      </mat-card-content>
      <mat-card-subtitle>필터</mat-card-subtitle>
      <mat-card-content>
        <div>
          <mat-form-field class="w-72">
            <mat-label> 치명 </mat-label>
            <input
              [(ngModel)]="filter.effects['치명']"
              matInput
              type="number"
            />
          </mat-form-field>
          <mat-form-field class="w-72">
            <mat-label> 특화 </mat-label>
            <input
              [(ngModel)]="filter.effects['특화']"
              matInput
              type="number"
            />
          </mat-form-field>
          <mat-form-field class="w-72">
            <mat-label> 신속 </mat-label>
            <input
              [(ngModel)]="filter.effects['신속']"
              matInput
              type="number"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="w-72">
            <mat-label> 제압 </mat-label>
            <input
              [(ngModel)]="filter.effects['제압']"
              matInput
              type="number"
            />
          </mat-form-field>
          <mat-form-field class="w-72">
            <mat-label> 인내 </mat-label>
            <input
              [(ngModel)]="filter.effects['인내']"
              matInput
              type="number"
            />
          </mat-form-field>
          <mat-form-field class="w-72">
            <mat-label> 숙련 </mat-label>
            <input
              [(ngModel)]="filter.effects['숙련']"
              matInput
              type="number"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label> 구매 후 거래가능 횟수 </mat-label>
            <input [(ngModel)]="filter.tradeLeft" matInput type="number" />
            <span matSuffix>회 이상</span>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label> 고대 등급 갯수 </mat-label>
            <input
              [(ngModel)]="filter.ancientCountMin"
              matInput
              type="number"
            />
            <span matSuffix>개 이상</span>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>허용할 페널티 각인</mat-label>
            <mat-select [(ngModel)]="filter.allowedPenalties" multiple>
              <mat-option
                *ngFor="let penalty of penaltyOptions"
                [value]="penalty"
                >{{ penalty }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>제외할 아이템 부위</mat-label>
            <mat-select [(ngModel)]="filter.ignoredSlots" multiple>
              <mat-option
                *ngFor="
                  let slot of ['목걸이', '귀걸이1', '귀걸이2', '반지1', '반지2']
                "
                [value]="slot"
                >{{ slot }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>고정할 각인 목록</mat-label>
            <mat-select [(ngModel)]="filter.fixedImprintings" multiple>
              <mat-option
                *ngFor="let imprinting of validTarget"
                [value]="imprinting[0]"
                >{{ imprinting[0] }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-checkbox [(ngModel)]="filter.hasBuyPrice"
            >즉시구매 가능한 조합만 표시</mat-checkbox
          >
        </div>
        <div>
          <span>추가된 아이템 {{ additionalItems.length }}개</span>
          <button (click)="addItemDialog()" mat-icon-button>
            <mat-icon>add</mat-icon>
          </button>
          <button (click)="resetAdditionalItems()" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div>
          <span>제외된 아이템 {{ filter.exclude.size }}개</span>
          <button (click)="resetExcludeFilter()" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <button (click)="applySearchResult()" mat-raised-button color="primary">
          적용
        </button>
      </mat-card-content>
    </mat-card>
    <mat-card class="layout-card grow">
      <mat-card-subtitle>추천 조합</mat-card-subtitle>
      <mat-card-content>
        <app-compose-table
          [data]="composeResults"
          [isLoading]="isLoading"
          [progress]="progress"
          [stoneBooks]="stoneBooks"
          [target]="target"
          (exclude)="exclude($event)"
          (additionalSearch)="additionalSearch($event)"
        ></app-compose-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<ng-adsense
  [className]="'banner-slot'"
  [adSlot]="8210305197"
  [fullWidthResponsive]="true"
  [adFormat]="'horizontal'"
></ng-adsense>
