<div>
  <h2 class="mat-h2">평균</h2>
  <div>평균 비용 : {{ price | number: ".2-2" }}골드</div>
  <div class="flex">
    <div class="material-info" *ngFor="let material of averageMaterial">
      <img [attr.src]="'assets/' + material[0] + '.png'" />
      <span> x {{ material[1] | number: ".1-1" }}</span>
    </div>
  </div>
  <h2 class="mat-h2">장기백</h2>
  <div>장기백 비용 : {{ fullJanginPrice | number: ".2-2" }}골드</div>
  <div class="flex">
    <div class="material-info" *ngFor="let material of fullJanginMaterial">
      <img [attr.src]="'assets/' + material[0] + '.png'" />
      <span> x {{ material[1] | number: ".0-0" }}</span>
    </div>
  </div>
</div>
<table
  class="optimize-table"
  mat-table
  [dataSource]="pathView"
  [trackBy]="trackByIndex"
>
  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef>트라이</th>
    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}트</td>
  </ng-container>

  <ng-container matColumnDef="baseProb">
    <th mat-header-cell *matHeaderCellDef>노숨 확률</th>
    <td mat-cell *matCellDef="let element">
      {{ element.baseProb | percent: ".2-2" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="jangin">
    <th mat-header-cell *matHeaderCellDef>장인의 기운</th>
    <td mat-cell *matCellDef="let element">
      {{ element.jangin | percent: ".2-2" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="breathes">
    <th mat-header-cell *matHeaderCellDef>추가재료</th>
    <td mat-cell *matCellDef="let element">
      {{ element.breathesName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="totalProb">
    <th mat-header-cell *matHeaderCellDef>트라이 확률</th>
    <td mat-cell *matCellDef="let element">
      {{ element.totalProb | percent: ".2-2" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>트라이 비용</th>
    <td mat-cell *matCellDef="let element">
      {{ element.price | number: ".2-2" }}골드
    </td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="[
      'index',
      'baseProb',
      'jangin',
      'breathes',
      'totalProb',
      'price'
    ]"
  ></tr>
  <tr
    mat-row
    *matRowDef="
      let row;
      columns: ['index', 'baseProb', 'jangin', 'breathes', 'totalProb', 'price']
    "
  ></tr>
</table>
