.container {
  margin: 20px;
}

.layout {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.tripod-form {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.card {
  flex: 0 1 1080px;
}

.grow {
  flex: 1 0 auto;
}

.script {
  height: 240px;
  border: 1px solid #ccc;
}

.mat-checkbox ~ .mat-checkbox {
  margin-left: 12px;
}