<div class="container">
  <h1 class="mat-h1">
    트포 도시락
    <a class="mat-caption link" href="https://icepeng.com/12" target="_blank"
      >설명서</a
    >
  </h1>
  <div class="layout">
    <mat-card [formGroup]="formGroup" class="card">
      <mat-card-content>
        <div class="flex-baseline">
          <mat-form-field>
            <mat-label>직업</mat-label>
            <mat-select formControlName="classCode">
              <mat-option
                *ngFor="let option of classList"
                [value]="option.value"
              >
                {{ option.text }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="filler"></div>
          <button (click)="resetForm()" mat-stroked-button>초기화</button>
        </div>
      </mat-card-content>
      <mat-card-content formGroupName="categoryList">
        <mat-checkbox
          *ngFor="let category of categoryList"
          [formControlName]="category.value"
          >{{ category.text }}</mat-checkbox
        >
      </mat-card-content>
      <mat-card-content *ngIf="formGroup.value.classCode">
        <div class="tripod-form">
          <app-tripod-form
            *ngFor="let tripodForm of tripodFormControls"
            [formGroup]="tripodForm"
            [classCode]="formGroup.value.classCode"
          ></app-tripod-form>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-subtitle>경매장 검색</mat-card-subtitle>
      <mat-card-content>
        <button (click)="generate()" mat-raised-button color="primary">
          검색 코드 복사
        </button>
      </mat-card-content>
      <mat-card-subtitle>옵션</mat-card-subtitle>
      <mat-card-content [formGroup]="filterForm">
        <div>
          <mat-form-field>
            <mat-label> 구매 후 거래가능 횟수 </mat-label>
            <input formControlName="tradeLeft" matInput type="number" />
            <span matSuffix>회 이상</span>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>필수 트라이포드</mat-label>
            <mat-select formControlName="requiredTripods" multiple>
              <mat-option
                *ngFor="let tripod of tripodFilters"
                [value]="tripod.value"
                >{{ tripod.text }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <button (click)="resetTripodFilter()" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div>
          <span>고정된 도시락 {{ fixedItemsLength }}개</span>
          <button (click)="resetFixedItems()" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div>
          <span>제외된 도시락 {{ excludedItemsLength }}개</span>
          <button (click)="resetExcludedItems()" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <button (click)="applySearchResult()" mat-raised-button color="primary">
          적용
        </button>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="layout-bottom">
    <mat-card class="table-card">
      <mat-card-subtitle> 도시락 목록 </mat-card-subtitle>
      <mat-card-content>
        <app-tripod-table
          [data]="composeResult"
          [categories]="searchResultCategories"
          [filter]="lastFilter"
          [isLoading]="isLoading"
          (hoverResult)="hoverResult($event)"
          (fixItem)="fixItem($event)"
          (excludeItem)="excludeItem($event)"
        ></app-tripod-table>
      </mat-card-content>
    </mat-card>
    <mat-card class="single-card">
      <mat-card-subtitle>전승 재료 목록</mat-card-subtitle>
      <mat-card-content>
        <app-tripod-single-list
          [searchResult]="searchResult"
          [hoveredResult]="hoveredResult"
        ></app-tripod-single-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<ng-adsense
  [className]="'banner-slot'"
  [adSlot]="6897223522"
  [fullWidthResponsive]="true"
  [adFormat]="'horizontal'"
></ng-adsense>
