tr.mat-row {
  height: 32px;

  &.removed {
    opacity: 0.5;
  }
}

td.mat-cell:first-of-type {
  padding-right: 8px;
}

.mat-table {
  width: 100%;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
  padding-left: 8px;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type {
  padding-right: 8px;
}
