:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mat-sidenav-container {
  margin-top: 64px;
}

.nav-selected {
  background: rgba(0, 0, 0, 0.2);
}

.title {
  padding: 0 12px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
