<mat-toolbar class="navbar mat-elevation-z6" color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <a
    routerLink="/"
    routerLinkActive="nav-selected"
    [routerLinkActiveOptions]="{ exact: true }"
    mat-button
    class="title"
    >Lostark Calculator</a
  >
  <ng-container *ngIf="(isHandset$ | async) === false">
    <a routerLink="refining" routerLinkActive="nav-selected" mat-button
      >재련 최적화</a
    >
    <a routerLink="imprinting" routerLinkActive="nav-selected" mat-button
      >각인 최적화</a
    >
    <a routerLink="advanced-refining" routerLinkActive="nav-selected" mat-button
      >상급 재련 최적화</a
    >
    <a routerLink="stone" routerLinkActive="nav-selected" mat-button
      >어빌리티 스톤</a
    >
    <a routerLink="raid-box" routerLinkActive="nav-selected" mat-button
      >더보기 손익</a
    >
  </ng-container>
  <div class="filler"></div>
  <button class="menu" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>format_color_fill</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="lightTheme()">밝은 테마</button>
    <button mat-menu-item (click)="darkTheme()">어두운 테마</button>
  </mat-menu>
  <a target="_blank" href="https://discord.gg/uCCp75c2aM" mat-button>Discord</a>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
  >
    <mat-nav-list>
      <a routerLink="refining" routerLinkActive="nav-selected" mat-list-item>
        <mat-icon mat-list-icon>trending_up</mat-icon>
        <span mat-line>재련 최적화</span>
      </a>
      <a routerLink="imprinting" routerLinkActive="nav-selected" mat-list-item>
        <mat-icon mat-list-icon>shopping_cart</mat-icon>
        <span mat-line>각인 최적화</span>
      </a>
      <a
        routerLink="advanced-refining"
        routerLinkActive="nav-selected"
        mat-list-item
      >
        <mat-icon mat-list-icon>trending_up</mat-icon>
        <span mat-line>상급 재련 최적화</span>
      </a>
      <a routerLink="stone" routerLinkActive="nav-selected" mat-list-item>
        <mat-icon mat-list-icon>diamond</mat-icon>
        <span mat-line>어빌리티 스톤</span>
      </a>
      <a routerLink="raid-box" routerLinkActive="nav-selected" mat-list-item>
        <mat-icon mat-list-icon>add</mat-icon>
        <span mat-line>더보기 손익</span>
      </a>
    </mat-nav-list></mat-sidenav
  >
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <mat-toolbar color="primary">
      <div class="filler"></div>
      <div class="mat-caption">Copyright © 2021 icepeng</div>
      <a routerLink="donate" mat-button>후원하기</a>
      <div class="filler"></div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
