<mat-toolbar color="primary">
  <span class="title">Lostark Calculator</span>
  <a routerLink="refining" routerLinkActive="nav-selected" mat-button
    >재련 최적화</a
  >
  <a routerLink="imprinting" routerLinkActive="nav-selected" mat-button
    >각인 최적화</a
  >
  <!-- <a routerLink="tripod" routerLinkActive="nav-selected" mat-button
    >트포 도시락</a
  > -->
  <div class="filler"></div>
  <a target="_blank" href="https://discord.gg/uCCp75c2aM" mat-button>Discord</a>
</mat-toolbar>
<router-outlet></router-outlet>
<mat-toolbar color="primary">
  <div class="filler"></div>
  <div class="mat-caption">Copyright © 2021 icepeng</div>
  <a target="_blank" href="https://twip.kr/icep3ng" mat-button>후원하기</a>
  <div class="filler"></div>
</mat-toolbar>
