<div class="container">
  <h1 class="mat-h1">어빌리티 스톤</h1>
  <div class="layout">
    <mat-card class="handwork">
      <div class="flex-baseline">
        <mat-form-field class="w-72">
          <mat-select [ngModel]="na" (ngModelChange)="naChange($event)">
            <mat-option [value]="i" *ngFor="let i of [6, 7, 8, 9, 10]"
              >{{ i }}칸</mat-option
            >
          </mat-select>
        </mat-form-field>
        <div class="filler"></div>
        <button mat-stroked-button (click)="undo()">취소</button>
        <button mat-stroked-button (click)="reset()">초기화</button>
      </div>
      <table>
        <thead>
          <tr>
            <th colspan="4">세공 확률 {{ attemptProb | percent: ".0-0" }}</th>
            <th *ngFor="let prob of probList; index as i">목표 #{{ i + 1 }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>증가능력1</td>
            <td>
              <ng-container *ngFor="let sym of symbols.ability1">
                <app-stone-symbol
                  type="ability"
                  [symbol]="sym"
                ></app-stone-symbol>
              </ng-container>
            </td>
            <td>
              <button
                *ngIf="mode === 'select'"
                mat-stroked-button
                (click)="doAttempt('ability1', true)"
              >
                성공
              </button>
              <button
                *ngIf="mode === 'simulate'"
                mat-stroked-button
                (click)="simulateAttempt('ability1')"
              >
                세공
              </button>
            </td>
            <td>
              <button
                *ngIf="mode === 'select'"
                mat-stroked-button
                (click)="doAttempt('ability1', false)"
              >
                실패
              </button>
            </td>
            <td class="percent-cell" *ngFor="let prob of probList">
              {{ prob.ability1Str }}
              <span *ngIf="prob.ability1 === prob.max">★</span>
            </td>
          </tr>
          <tr>
            <td>증가능력2</td>
            <td>
              <ng-container *ngFor="let sym of symbols.ability2">
                <app-stone-symbol
                  type="ability"
                  [symbol]="sym"
                ></app-stone-symbol>
              </ng-container>
            </td>
            <td>
              <button
                *ngIf="mode === 'select'"
                mat-stroked-button
                (click)="doAttempt('ability2', true)"
              >
                성공
              </button>
              <button
                *ngIf="mode === 'simulate'"
                mat-stroked-button
                (click)="simulateAttempt('ability2')"
              >
                세공
              </button>
            </td>
            <td>
              <button
                *ngIf="mode === 'select'"
                mat-stroked-button
                (click)="doAttempt('ability2', false)"
              >
                실패
              </button>
            </td>
            <td class="percent-cell" *ngFor="let prob of probList">
              {{ prob.ability2Str }}
              <span *ngIf="prob.ability2 === prob.max">★</span>
            </td>
          </tr>
          <tr>
            <td>감소능력1</td>
            <td>
              <ng-container *ngFor="let sym of symbols.penalty">
                <app-stone-symbol
                  type="penalty"
                  [symbol]="sym"
                ></app-stone-symbol>
              </ng-container>
            </td>
            <td>
              <button
                *ngIf="mode === 'select'"
                mat-stroked-button
                (click)="doAttempt('penalty', true)"
              >
                성공
              </button>
              <button
                *ngIf="mode === 'simulate'"
                mat-stroked-button
                (click)="simulateAttempt('penalty')"
              >
                세공
              </button>
            </td>
            <td>
              <button
                *ngIf="mode === 'select'"
                mat-stroked-button
                (click)="doAttempt('penalty', false)"
              >
                실패
              </button>
            </td>
            <td class="percent-cell" *ngFor="let prob of probList">
              {{ prob.penaltyStr }}
              <span *ngIf="prob.penalty === prob.max">★</span>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-card>
  </div>
  <div class="goals">
    <app-stone-goal
      *ngFor="let task of tasks; index as i"
      [na]="na"
      [task]="task"
      [indexes]="indexes"
      [showFuture]="showFuture"
      [index]="i"
      (update)="updateDpList()"
      (remove)="removeTask($event)"
    ></app-stone-goal>
    <button (click)="addTask()" class="button-add" mat-stroked-button>
      <mat-icon>add</mat-icon><br />목표 추가
    </button>
  </div>
  <div class="layout">
    <mat-card>
      <mat-card-title>Settings</mat-card-title>
      <mat-card-content>
        <div>
          <mat-form-field>
            <mat-label>모드</mat-label>
            <mat-select [(ngModel)]="mode">
              <mat-option value="select">실전</mat-option>
              <mat-option value="simulate">시뮬레이션</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-checkbox [(ngModel)]="showFuture">테이블 상세 표시</mat-checkbox>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="about">
      <mat-card-title>About</mat-card-title>
      <mat-card-content>
        <div>
          로파고 웹버전 제작자(Heehoon Kim)님의 소스를 바탕으로 UI를
          확장했습니다.
        </div>
        <div>
          Link: <a href="https://heehoon.kim/dolpago">heehoon.kim/dolpago</a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
