<div class="container">
  <mat-card>
    <mat-card-subtitle
      >투네이션<a
        href="https://toon.at/donate/637722316120647859"
        target="_blank"
        mat-icon-button
      >
        <mat-icon>link</mat-icon>
      </a></mat-card-subtitle
    >
    <mat-card-content>
      방송을 하지 않아 후원 메세지는 별도로 노출되지 않습니다.
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-subtitle
      >트윕<a href="https://twip.kr/icep3ng" target="_blank" mat-icon-button>
        <mat-icon>link</mat-icon>
      </a></mat-card-subtitle
    >
    <mat-card-content>
      방송을 하지 않아 후원 메세지는 별도로 노출되지 않습니다.
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-subtitle
      >오픈채팅<a
        href="https://open.kakao.com/o/snHQ0CJd"
        target="_blank"
        mat-icon-button
      >
        <mat-icon>link</mat-icon>
      </a></mat-card-subtitle
    >
    <mat-card-content>
      기프티콘 후원용으로만 사용해주세요. 후원 외의 용건은 디스코드로
      부탁드립니다.
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-subtitle>골드 우편</mat-card-subtitle>
    <mat-card-content> 제작자: 니나브 서버 - 드론뗑컨 </mat-card-content>
    <mat-card-content> 도움주신 분: 루페온 서버 - 7AG </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-subtitle>기타</mat-card-subtitle>
    <mat-card-content>
      광고 차단 플러그인을 해제하는 것으로 간접적인 후원이 가능합니다.
    </mat-card-content>
  </mat-card>
</div>
<ng-adsense
  [className]="'banner-slot'"
  [adSlot]="8022796450"
  [fullWidthResponsive]="true"
  [adFormat]="'horizontal'"
></ng-adsense>
