<form [formGroup]="priceForm" class="price-form">
  <div class="cell">
    <img src="assets/파편.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 명예의 파편 </mat-label>
      <input type="number" matInput formControlName="파편" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/운명파편.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 운명의 파편 </mat-label>
      <input type="number" matInput formControlName="운명파편" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/위명돌.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 위대한 명예의 돌파석 </mat-label>
      <input type="number" matInput formControlName="위명돌" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/경명돌.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 경이로운 명예의 돌파석 </mat-label>
      <input type="number" matInput formControlName="경명돌" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/찬명돌.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 찬란한 명예의 돌파석 </mat-label>
      <input type="number" matInput formControlName="찬명돌" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/운돌.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 운명의 돌파석 </mat-label>
      <input type="number" matInput formControlName="운돌" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/위운돌.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 위대한 운명의 돌파석 </mat-label>
      <input type="number" matInput formControlName="위운돌" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/수결.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 수호석 결정 </mat-label>
      <input type="number" matInput formControlName="수결" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/파결.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 파괴석 결정 </mat-label>
      <input type="number" matInput formControlName="파결" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/수호강석.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 수호강석 </mat-label>
      <input type="number" matInput formControlName="수호강석" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/파괴강석.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 파괴강석 </mat-label>
      <input type="number" matInput formControlName="파괴강석" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/정제된수호강석.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 정제된 수호강석 </mat-label>
      <input type="number" matInput formControlName="정제된수호강석" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/정제된파괴강석.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 정제된 파괴강석 </mat-label>
      <input type="number" matInput formControlName="정제된파괴강석" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/운명의수호석.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 운명의 수호석 </mat-label>
      <input type="number" matInput formControlName="운명의수호석" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/운명의파괴석.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 운명의 파괴석 </mat-label>
      <input type="number" matInput formControlName="운명의파괴석" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/운명의수호석결정.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 운명의 수호석 결정 </mat-label>
      <input type="number" matInput formControlName="운명의수호석결정" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/운명의파괴석결정.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 운명의 파괴석 결정</mat-label>
      <input type="number" matInput formControlName="운명의파괴석결정" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/혼돈의돌.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 혼돈의 돌 </mat-label>
      <input type="number" matInput formControlName="혼돈의돌" />
    </mat-form-field>
  </div>
</form>
