<form [formGroup]="priceForm" class="price-form">
  <div class="cell">
    <img src="assets/파편.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 명예의 파편 </mat-label>
      <input type="number" matInput formControlName="파편" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/명돌.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 명예의 돌파석 </mat-label>
      <input type="number" matInput formControlName="명돌" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/위명돌.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 위대한 명예의 돌파석 </mat-label>
      <input type="number" matInput formControlName="위명돌" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/경명돌.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 경이로운 명예의 돌파석 </mat-label>
      <input type="number" matInput formControlName="경명돌" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/수결.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 수호석 결정 </mat-label>
      <input type="number" matInput formControlName="수결" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/파결.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 파괴석 결정 </mat-label>
      <input type="number" matInput formControlName="파결" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/수호강석.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 수호강석 </mat-label>
      <input type="number" matInput formControlName="수호강석" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/파괴강석.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 파괴강석 </mat-label>
      <input type="number" matInput formControlName="파괴강석" />
    </mat-form-field>
  </div>
  <div class="cell">
    <img src="assets/혼돈의돌.png" />
    <mat-form-field floatLabel="always">
      <mat-label> 혼돈의 돌 </mat-label>
      <input type="number" matInput formControlName="혼돈의돌" />
    </mat-form-field>
  </div>
</form>
