.container {
  margin: 20px;
}

.layout {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.grow {
  flex-grow: 1;
}

.notice {
  width: 300px;
}

.heading-button {
  margin-left: 16px;
  margin-bottom: 16px;
}