<div class="container">
  <div class="flex-center">
    <h1 class="mat-h1">더보기 손익</h1>
  </div>
  <div>
    <mat-form-field>
      <mat-label>레이드</mat-label>
      <mat-select [formControl]="raidControl">
        <mat-option *ngFor="let raid of raidList" [value]="raid">{{
          raid
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-240">
      <mat-label>재련 재료</mat-label>
      <mat-select [formControl]="tierControl">
        <mat-option value="t3_1250">위명돌, 파괴석 결정, 수호석 결정</mat-option>
        <mat-option value="t3_1390">경명돌, 파괴강석, 수호강석</mat-option>
        <mat-option value="t3_1525">찬명돌, 정파강, 정수강</mat-option>
        <mat-option value="t4_1590">운명 돌파석, 운명 파괴석, 운명 수호석</mat-option>
        <mat-option value="t4_1730">위운돌, 운파결, 운수결</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="layout">
    <mat-card>
      <mat-card-subtitle> 가격 정보 </mat-card-subtitle>
      <mat-card-content>
        <app-raid-box-price [priceForm]="priceForm"></app-raid-box-price>
      </mat-card-content>
    </mat-card>
    <app-raid-box-card
      *ngFor="let raid of raids$ | async"
      [priceTable]="priceForm.value"
      [itemTier]="tierControl.value"
      [raid]="raid"
    ></app-raid-box-card>
    <mat-card class="notice">
      <mat-card-title> 주의사항 </mat-card-title>
      <mat-card-content>
        <h3>가격 정보는 전일 평균 거래가를 서버로부터 자동으로 가져옵니다.</h3>
        <p>
          모든 재료 가격은 1개당 골드로 입력되니, 수호석 결정과 같이 10개 단위로
          거래되는 재료들의 수치 입력에 주의해주세요.
        </p>
        <p>
          오레하의 우물(하드)과 아르고스의 경우 대도시의 어비스 교역 상인에게서
          새벽의 빛무리나 아르고스의 선혈을 위대한 명예의 돌파석으로, 군단장의
          경우 대도시의 군단장 레이드 교환 상인에게서 군단장 재료를 혼돈의
          돌파석으로 바꾸는 것을 가정합니다.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<ng-adsense
  [className]="'banner-slot'"
  [adSlot]="3498062236"
  [fullWidthResponsive]="true"
  [adFormat]="'horizontal'"
></ng-adsense>
