<mat-radio-group
  [value]="stoneBookIndex"
  (change)="changeStoneBook($event.value)"
>
  <mat-radio-button [value]="null">전체</mat-radio-button>
  <mat-radio-button [value]="i" *ngFor="let stoneBook of stoneBooks; index as i"
    >#{{ i + 1 }}</mat-radio-button
  >
</mat-radio-group>
<div class="table-container">
  <div *ngIf="isLoading" class="loading-shade">
    <mat-spinner></mat-spinner>
    <div>{{ progress | percent: ".0-0" }}</div>
  </div>
  <div class="table-inner-container">
    <table class="optimize-table" mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>합계</th>
        <td mat-cell *matCellDef="let element">
          <div>{{ element.price | number: ".0-0" }}골드</div>
          <div>[치명] +{{ element.effects["치명"] || 0 }}</div>
          <div>[특화] +{{ element.effects["특화"] || 0 }}</div>
          <div>[신속] +{{ element.effects["신속"] || 0 }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="stoneBook">
        <th mat-header-cell *matHeaderCellDef>장착/어빌스톤</th>
        <td mat-cell *matCellDef="let element">
          <div>[장착 각인]</div>
          <div *ngFor="let book of element.stoneBook.book">
            [{{ book[0] }}] +{{ book[1] }}
          </div>
          <br />
          <div>[어빌리티 스톤 각인]</div>
          <div *ngFor="let stone of element.stoneBook.stone">
            [{{ stone[0] }}] +{{ stone[1] }}
          </div>
          <div>
            [{{ element.stoneBook.stonePenalty[0] }}] +{{
              element.stoneBook.stonePenalty[1]
            }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="necklace">
        <th mat-header-cell *matHeaderCellDef>목걸이</th>
        <td mat-cell *matCellDef="let element">
          <app-item-view
            (exclude)="exclude.emit($event)"
            [item]="element.items['목걸이']"
          ></app-item-view>
        </td>
      </ng-container>

      <ng-container matColumnDef="ear1">
        <th mat-header-cell *matHeaderCellDef>귀걸이1</th>
        <td mat-cell *matCellDef="let element">
          <app-item-view
            (exclude)="exclude.emit($event)"
            [item]="element.items['귀걸이1']"
          ></app-item-view>
        </td>
      </ng-container>

      <ng-container matColumnDef="ear2">
        <th mat-header-cell *matHeaderCellDef>귀걸이2</th>
        <td mat-cell *matCellDef="let element">
          <app-item-view
            (exclude)="exclude.emit($event)"
            [item]="element.items['귀걸이2']"
          ></app-item-view>
        </td>
      </ng-container>

      <ng-container matColumnDef="ring1">
        <th mat-header-cell *matHeaderCellDef>반지1</th>
        <td mat-cell *matCellDef="let element">
          <app-item-view
            (exclude)="exclude.emit($event)"
            [item]="element.items['반지1']"
          ></app-item-view>
        </td>
      </ng-container>

      <ng-container matColumnDef="ring2">
        <th mat-header-cell *matHeaderCellDef>반지2</th>
        <td mat-cell *matCellDef="let element">
          <app-item-view
            (exclude)="exclude.emit($event)"
            [item]="element.items['반지2']"
          ></app-item-view>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="[
          'price',
          'stoneBook',
          'necklace',
          'ear1',
          'ear2',
          'ring1',
          'ring2'
        ]"
      ></tr>
      <tr
        mat-row
        *matRowDef="
          let row;
          columns: [
            'price',
            'stoneBook',
            'necklace',
            'ear1',
            'ear2',
            'ring1',
            'ring2'
          ]
        "
      ></tr>
    </table>
  </div>
  <mat-paginator showFirstLastButtons [pageSize]="4"> </mat-paginator>
</div>
