<button
  *ngIf="!item.isFixed"
  class="menu"
  mat-icon-button
  [matMenuTriggerFor]="menu"
>
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="exclude.emit(item)">제외하고 계산</button>
  <button mat-menu-item (click)="copyBuyScript()">구매 코드 복사</button>
</mat-menu>
<div [ngClass]="'grade-' + item.grade">{{ item.name }}</div>
<div>품질: {{ item.quality }}</div>
<div *ngIf="item.price === 0">[보유한 아이템]</div>
<ng-container *ngIf="item.price > 0">
  <div *ngIf="!item.isFixed">구매 시 거래 {{ item.tradeLeft }}회 가능</div>
  <div *ngIf="item.buyPrice">
    즉시 구매가: {{ item.buyPrice | number: ".0-0" }}골드
  </div>
  <div *ngIf="!item.buyPrice">즉시 구매가: -</div>
  <div *ngIf="!item.isFixed">최소 입찰가: {{ item.auctionPrice | number: ".0-0" }}골드</div>
</ng-container>
<div>
  <span *ngFor="let eff of dealOptions">[{{ eff[0] }}] +{{ eff[1] }} </span>
</div>
<div>
  <span *ngFor="let eff of imprintOptions">[{{ eff[0] }}] +{{ eff[1] }} </span>
</div>
<div *ngIf="penalty">
  <span>[{{ penalty[0] }}] +{{ penalty[1] }} </span>
</div>
