<h1 mat-dialog-title></h1>
<div mat-dialog-content>
  <div>
    <mat-form-field appearance="fill">
      <mat-label i18n>조언</mat-label>
      <input
        (ngModelChange)="filterData($event)"
        [ngModel]="filterText"
        matInput
      />
    </mat-form-field>
  </div>
  <div class="table">
    <div
      (click)="selectRow(data)"
      class="row"
      [class.selected]="data.name === selected?.name"
      *ngFor="let data of filteredDataSource"
    >
      {{ data.name }}
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button (click)="confirm()" color="primary" mat-flat-button i18n>확인</button>
  <button (click)="cancel()" mat-flat-button i18n>취소</button>
</div>
