<div class="effect">
  <div class="effect-prob">
    <ng-container *ngIf="!effect.isSealed">
      {{ pickRatio | percent : ".1" }}
    </ng-container>
    <ng-container *ngIf="effect.isSealed"> 봉인 </ng-container>
  </div>
  <div class="effect-info">
    <mat-form-field>
      <mat-select [(ngModel)]="gameState.effects[index].optionId">
        <mat-option *ngFor="let option of effectOptions" [value]="option.id">
          {{ option.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="effect-value">
      <div
        class="effect-value-square"
        *ngFor="let level of valueSquares; index as idx"
        [ngClass]="{ 'is-filled': effect.value > idx }"
      >
        <span>{{ level }}</span>
      </div>
    </div>
    <span class="effect-lucky mat-body"
      >대성공 {{ luckyRatio | percent : ".0" }}</span
    >
  </div>
  <div>
    <button (click)="onFocusTarget($event)" mat-flat-button color="primary">
      목표로 지정
    </button>
  </div>
</div>
