<div class="effect">
  <div class="effect-prob">
    <ng-container *ngIf="!effect.isSealed">
      {{ pickRatio | percent : ".1" }}
    </ng-container>
    <ng-container *ngIf="effect.isSealed" i18n> 봉인 </ng-container>
  </div>
  <div class="effect-info">
    <mat-form-field>
      <mat-select [(ngModel)]="gameState.effects[index].optionName">
        <mat-option *ngFor="let option of effectOptions" [value]="option.name">
          {{ option.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="effect-value">
      <div
        class="effect-value-square"
        *ngFor="let level of valueSquares; index as idx"
        [ngClass]="{ 'is-filled': effect.value > idx }"
      >
        <span>{{ level }}</span>
      </div>
    </div>
    <span class="effect-lucky mat-body" i18n
      >대성공 {{ luckyRatio | percent : ".0" }}</span
    >
  </div>
  <div>
    <div>
      <button
        [disabled]="isFocused"
        (click)="onFocusTarget($event)"
        mat-flat-button
        color="primary"
      >
        <span *ngIf="!isFocused" i18n>목표로 지정</span>
        <span *ngIf="isFocused" i18n>지정된 목표</span>
      </button>
    </div>
  </div>
</div>
