<div class="penguin">
  <img src="assets/penguin.jpg" />
</div>
<ng-container *ngIf="!sage.isExhausted">
  <div class="power-container">
    <div
      *ngFor="let i of [1, 2, 3]"
      class="lawful-power"
      [ngClass]="{ 'is-filled': (sage.type === 'lawful' && sage.power) >= i }"
      (click)="setTypePower('lawful', i)"
    ></div>
  </div>
  <div class="power-container">
    <div
      *ngFor="let i of [1, 2, 3, 4, 5, 6]"
      class="chaos-power"
      [ngClass]="{ 'is-filled': (sage.type === 'chaos' && sage.power) >= i }"
      (click)="setTypePower('chaos', i)"
    ></div>
  </div>
  <div class="description-container" (click)="launchCouncilDialog(index)">
    {{ description }}
  </div>
  <div [class.is-highest]="isHighest">
    <div>스택점수 {{ curveScore * 1000 | number : ".2-2" }}</div>
    <div>
      조언점수
      {{ adviceScore * 10000 | number : ".2-2" }}
    </div>
    <div>
      최종점수
      {{ totalScore * 1000 | number : ".2-2" }}
    </div>
  </div>
  <ng-container *ngIf="sage.isExhausted">
    <div>{{ description }}</div>
  </ng-container>
</ng-container>
