.penguin {
  display: flex;
  justify-content: center;

  img {
    width: 100%;
    height: auto;
  }
}

.power-container {
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
  place-content: center;
}

.lawful-power {
  width: 24px;
  height: 24px;
  border: 1px solid black;

  &.is-filled {
    background-color: #14acff;
  }
}

.chaos-power {
  width: 24px;
  height: 24px;
  border: 1px solid black;
  border-radius: 100%;

  &.is-filled {
    background-color: #b25db0;
  }
}

.is-highest {
  color: #3f51b5;
  font-weight: bold;
}
