.effect {
  display: flex;

  gap: 12px;
  align-items: center;
}

.effect-info {
  display: flex;
  flex-direction: column;
}

.effect-name {
  font-weight: bold;
}

.effect-value {
  display: flex;
}

.effect-value-square {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 24px;
  height: 24px;

  &.is-filled {
    background-color: black;
    color: white;
  }
}
