<div class="effect">
  <div class="effect-info">
    <mat-form-field>
      <mat-select [(ngModel)]="gameState.effects[index].optionName">
        <mat-option *ngFor="let option of effectOptions" [value]="option.name">
          {{ option.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="effect-value">
      <div
        class="effect-value-square"
        *ngFor="let level of valueSquares; index as idx"
        [ngClass]="{ 'is-filled': effect.value > idx }"
        (click)="setValue.emit(idx + 1)"
      >
        <span>{{ level }}</span>
      </div>
    </div>
  </div>
  <div>
    <div>
      <button
        [disabled]="isFocused"
        (click)="onFocusTarget($event)"
        mat-flat-button
        color="primary"
      >
        <span *ngIf="!isFocused">목표로 지정</span>
        <span *ngIf="isFocused">지정된 목표</span>
      </button>
    </div>
    <div>
      <button (click)="decrease.emit(index)" mat-icon-button>
        <mat-icon>remove</mat-icon>
      </button>
      <button (click)="increase.emit(index)" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div>
    <mat-checkbox
      [ngModel]="gameState.effects[index].isSealed"
      (ngModelChange)="setSealed.emit($event)"
      >봉인</mat-checkbox
    >
  </div>
</div>
