<form [formGroup]="accessoryForm">
  <div>
    <mat-form-field>
      <mat-label>목걸이</mat-label>
      <mat-select formControlName="necklace">
        <mat-option value="epic">영웅</mat-option>
        <mat-option value="legendary">전설</mat-option>
        <mat-option value="relic">유물</mat-option>
        <mat-option value="ancient">고대</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>귀걸이1</mat-label>
      <mat-select formControlName="ear1">
        <mat-option value="epic">영웅</mat-option>
        <mat-option value="legendary">전설</mat-option>
        <mat-option value="relic">유물</mat-option>
        <mat-option value="ancient">고대</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>귀걸이2</mat-label>
      <mat-select formControlName="ear2">
        <mat-option value="epic">영웅</mat-option>
        <mat-option value="legendary">전설</mat-option>
        <mat-option value="relic">유물</mat-option>
        <mat-option value="ancient">고대</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>반지1</mat-label>
      <mat-select formControlName="ring1">
        <mat-option value="epic">영웅</mat-option>
        <mat-option value="legendary">전설</mat-option>
        <mat-option value="relic">유물</mat-option>
        <mat-option value="ancient">고대</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>반지2</mat-label>
      <mat-select formControlName="ring2">
        <mat-option value="epic">영웅</mat-option>
        <mat-option value="legendary">전설</mat-option>
        <mat-option value="relic">유물</mat-option>
        <mat-option value="ancient">고대</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
