<form [formGroup]="avatarForm">
  <div>
    <mat-form-field>
      <mat-label>아바타 투구 등급</mat-label>
      <mat-select formControlName="head">
        <mat-option value="rare">희귀</mat-option>
        <mat-option value="epic">영웅</mat-option>
        <mat-option value="legendary">전설</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>아바타 상의 등급</mat-label>
      <mat-select formControlName="top">
        <mat-option value="rare">희귀</mat-option>
        <mat-option value="epic">영웅</mat-option>
        <mat-option value="legendary">전설</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>아바타 하의 등급</mat-label>
      <mat-select formControlName="bottom">
        <mat-option value="rare">희귀</mat-option>
        <mat-option value="epic">영웅</mat-option>
        <mat-option value="legendary">전설</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>아바타 무기 등급</mat-label>
      <mat-select formControlName="weapon">
        <mat-option value="rare">희귀</mat-option>
        <mat-option value="epic">영웅</mat-option>
        <mat-option value="legendary">전설</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
