<form>
  <div *ngFor="let formControl of formControls; index as i">
    <mat-form-field>
      <mat-label>카드 세트 {{ i + 1 }}</mat-label>
      <mat-select [formControl]="formControl">
        <mat-option *ngFor="let card of cardList" [value]="card">{{
          card
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button
      *ngIf="formControls.length > 1 && cardForm.enabled"
      (click)="removeLine(i)"
      mat-icon-button
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</form>
<button
  *ngIf="cardForm.enabled"
  class="add-button"
  (click)="addLine()"
  mat-stroked-button
>
  +
</button>
