<form [formGroup]="commonForm">
  <div>
    <mat-form-field>
      <mat-label>전투 레벨</mat-label>
      <input
        appSelectOnFocus
        matInput
        type="number"
        formControlName="combatLevel"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>내실 주스탯 (힘,민,지)</mat-label>
      <input
        appSelectOnFocus
        matInput
        type="number"
        formControlName="expeditionStat"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>치명</mat-label>
      <input appSelectOnFocus matInput type="number" formControlName="crit" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>특화</mat-label>
      <input
        appSelectOnFocus
        matInput
        type="number"
        formControlName="special"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>신속</mat-label>
      <input appSelectOnFocus matInput type="number" formControlName="swift" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>무기 추가 피해%</mat-label>
      <input
        appSelectOnFocus
        matInput
        type="number"
        formControlName="weaponPdamage"
      />
      <span matSuffix>%</span>
    </mat-form-field>
  </div>
</form>
