<form>
  <div [formGroup]="formGroup" *ngFor="let formGroup of formGroups; index as i">
    <mat-form-field>
      <mat-label>각인 {{ i + 1 }}</mat-label>
      <mat-select formControlName="name">
        <mat-option
          *ngFor="let engraving of engravingList"
          [value]="engraving.name"
          >{{ engraving.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-72">
      <mat-label>레벨</mat-label>
      <mat-select formControlName="level">
        <mat-option [value]="1">1</mat-option>
        <mat-option [value]="2">2</mat-option>
        <mat-option [value]="3">3</mat-option>
      </mat-select>
    </mat-form-field>
    <button
      *ngIf="formGroups.length > 1 && engravingForm.enabled"
      (click)="removeLine(i)"
      mat-icon-button
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</form>
<button
  *ngIf="engravingForm.enabled"
  class="add-button"
  (click)="addLine()"
  mat-stroked-button
>
  +
</button>
