<form [formGroup]="gearForm">
  <div *ngFor="let slot of slots" [formGroupName]="slot">
    <mat-form-field>
      <mat-label>{{ slotName[slot] }} 등급</mat-label>
      <mat-select formControlName="grade">
        <mat-option value="t3_1340_relic">하위 유물</mat-option>
        <mat-option value="t3_1390_relic">상위 유물</mat-option>
        <mat-option value="t3_1390_ancient">고대</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-72">
      <mat-label>재련</mat-label>
      <input
        [errorStateMatcher]="parentMatcher"
        matInput
        appSelectOnFocus
        type="number"
        formControlName="upgrade"
      />
      <mat-error *ngIf="gearForm.get(slot)!.hasError('gearUpgrade')"
        >불가능한 수치</mat-error
      >
    </mat-form-field>
  </div>
</form>
