<form>
  <div [formGroup]="formGroup" *ngFor="let formGroup of formGroups; index as i">
    <mat-form-field class="w-72">
      <mat-label>세트 {{ i + 1 }}</mat-label>
      <mat-select formControlName="name">
        <mat-option
          *ngFor="let setitem of setitemList"
          [value]="setitem.name"
          >{{ setitem.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-120">
      <mat-label>세트 개수</mat-label>
      <mat-select formControlName="setCount">
        <mat-option [value]="2">2</mat-option>
        <mat-option [value]="4">4</mat-option>
        <mat-option [value]="6">6</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-120">
      <mat-label>2레벨 개수</mat-label>
      <mat-select formControlName="level2Count">
        <mat-option [value]="2">2</mat-option>
        <mat-option [value]="4">4</mat-option>
        <mat-option [value]="6">6</mat-option>
      </mat-select>
    </mat-form-field>
    <button
      *ngIf="formGroups.length > 1 && setitemForm.enabled"
      (click)="removeLine(i)"
      mat-icon-button
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</form>
<button *ngIf="setitemForm.enabled" class="add-button" (click)="addLine()" mat-stroked-button>+</button>
