<form [formGroup]="skillForm">
  <div>
    <mat-form-field class="w-240">
      <mat-label>스킬명</mat-label>
      <mat-select formControlName="name">
        <mat-option
          *ngFor="let skillSpec of skillSpecs"
          [value]="skillSpec.name"
          >{{ skillSpec.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="w-120">
      <mat-label>레벨</mat-label>
      <mat-select formControlName="level">
        <mat-option
          *ngFor="let level of skillLevels$ | async"
          [value]="level"
          >{{ level }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-120">
      <mat-label>멸화</mat-label>
      <mat-select formControlName="gem">
        <mat-option [value]="10">10</mat-option>
        <mat-option [value]="9">9</mat-option>
        <mat-option [value]="8">8</mat-option>
        <mat-option [value]="7">7</mat-option>
        <mat-option [value]="6">6</mat-option>
        <mat-option [value]="5">5</mat-option>
        <mat-option [value]="4">4</mat-option>
        <mat-option [value]="3">3</mat-option>
        <mat-option [value]="2">2</mat-option>
        <mat-option [value]="1">1</mat-option>
        <mat-option [value]="0">없음</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <app-tripod-form
      *ngFor="let tripodForm of tripodForms; index as i"
      [tripodForm]="tripodForm"
      [tier]="i + 1"
      [skillSpec]="skillSpec$ | async"
    ></app-tripod-form>
  </div>
</form>
