<form [formGroup]="skillActionForm">
  <mat-form-field>
    <mat-label>스킬</mat-label>
    <mat-select formControlName="name">
      <mat-option *ngFor="let skill of skills" [value]="skill.name">{{
        skill.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>백헤드</mat-label>
    <mat-select formControlName="position">
      <mat-option value="side">없음</mat-option>
      <mat-option value="head">헤드어택</mat-option>
      <mat-option value="back">백어택</mat-option>
    </mat-select>
  </mat-form-field>
  <ng-container formGroupName="buffStatus">
    <ng-container
      *ngFor="let schema of buffStatusSchema"
      [formGroupName]="schema.key"
    >
      <mat-form-field *ngIf="schema.onoff">
        <mat-label>{{ schema.key }}</mat-label>
        <mat-select formControlName="onoff">
          <mat-option [value]="true">켜짐</mat-option>
          <mat-option [value]="false">꺼짐</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="schema.stack">
        <mat-label>{{ schema.key }} 스택</mat-label>
        <input
          matInput
          appSelectOnFocus
          type="number"
          formControlName="stack"
        />
      </mat-form-field>
    </ng-container>
  </ng-container>
</form>
