<div>총 데미지 : {{ totalDamage | number: ".0-0" }}</div>
<mat-card *ngFor="let formGroup of formGroups; index as i">
  <div class="card-content">
    <div>
      <app-skill-action-form
        [skillActionForm]="formGroup"
        [buffStatusSchema]="buffStatusSchema"
        [skills]="skills"
      ></app-skill-action-form>
    </div>
    <div class="filler"></div>
    <div class="actions">
      <button
        *ngIf="skillActionFormArray.enabled && formGroups.length > 1"
        (click)="removeItem(i)"
        mat-icon-button
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="skillResults[i] as skillResult">
    <span>평균딜 {{ skillResult.average | number: ".0-0" }}</span> |
    <span>노크리 {{ skillResult.noCrit | number: ".0-0" }}</span> |
    <span>올크리 {{ skillResult.allCrit | number: ".0-0" }}</span> |
    <span>치확 {{ skillResult.stat.crit | number: ".2-2" }}%</span> |
    <span>치피 {{ skillResult.stat.critDamage | number: ".2-2" }}%</span>
  </div>
</mat-card>
<button
  *ngIf="skillActionFormArray.enabled"
  (click)="addItem()"
  mat-stroked-button
>
  +
</button>
