<div [formGroup]="tripodForm">
  <mat-form-field>
    <mat-label>{{ tier }}티어 트라이포드</mat-label>
    <mat-select formControlName="name">
      <mat-option [value]="null">없음</mat-option>
      <mat-option *ngFor="let tripod of tripods" [value]="tripod.name">{{
        tripod.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="w-72">
    <mat-label>레벨</mat-label>
    <mat-select formControlName="level">
      <mat-option *ngFor="let level of tripodLevels$ | async" [value]="level">{{
        level
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
