<h1 mat-dialog-title>안내</h1>
<div mat-dialog-content>
  <p>
    2021-12-23 오후 8시경 로스트아크 공식 홈페이지 거래소 페이지에 오류가
    발생하며 임시 중단되었습니다. 예방적 차원에서 각인 최적화, 트포 도시락
    기능을 기존보다 천천히 검색하도록 조치했습니다. 편리함이 안정적인 게임
    서비스보다 우선적인 가치는 아니기에, 로스트아크의 안정적인 서비스를
    우선적으로 고려하며 대응해나가겠습니다.
  </p>
  <p>
    2021-12-24 오후 로스트아크 공식 홈페이지 거래소 오류가 지속되고 있습니다.
    가급적이면 이용자가 적은 <strong>새벽 시간대</strong>에 사용하시는 것을 권장합니다. 공식
    홈페이지 거래소가 한번 더 임시 중단될 시 다음주 로스트아크 정기
    업데이트때까지 <strong>검색 관련 기능을 비활성화</strong>할 계획입니다.
  </p>
  <p>감사합니다.</p>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close>확인</button>
</div>
